{
    "overrides": [
        {
            "files": ["convex/**/*.ts", "!convex/_generated/**"],
            "options": {
                "tabWidth": 2,
                "bracketSpacing": true,
                "semi": true,
                "singleQuote": false
            }
        }
    ]
}
